.date {
	height: 60px;
	text-align: center;
}

.date-header{
	text-align: center;
	font-size: 2em;
}

.month-cap {
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
}

li {
	list-style-type: none;
	padding: 10px;
}

.day {
	font-size: 1.5em;
	font-weight: bold;
}