<div class="container-fluid">
	<div class="meds">
		<h2>Medications</h2>
		<ul>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#glargine">
				<span class="glyphicon glyphicon-plus"></span>Insulin glargine</button>
				<div class="collapse" id="glargine">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>Lantus</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>261551</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>20 units</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>Injected subcutaneously</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>Every evening (8pm)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat Diabetes</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>5/30/16</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#calcitriol">
				<span class="glyphicon glyphicon-plus"></span>Calcitriol 1mg</button>
				<div class="collapse" id="calcitriol">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>None</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>1894</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>1 tab</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>3 times per week (Monday, Wednesday, Friday - 8am)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Bone Disease, Calcium Deficiency</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>6/15/16</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#calcium">
				<span class="glyphicon glyphicon-plus"></span>Calcium acetate</button>
				<div class="collapse" id="calcium">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>Phoslo</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>219236</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>667mg capsules, 3 capsules</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By Mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>3 times a day (with every meal)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat Kidney Disease</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>0</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>None</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lisinopril">
				<span class="glyphicon glyphicon-plus"></span>Lisinopril</button>
				<div class="collapse" id="lisinopril">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>None</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>29046</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>20mg, 1 tab</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By Mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>Every AM (8am)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat High Blood Pressure</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>1</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>5/15/16</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Carvedilol">
				<span class="glyphicon glyphicon-plus"></span>Carvedilol</button>
				<div class="collapse" id="Carvedilol">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>Coreg</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>216221</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>25mg tab - 1 tab</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By Mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>Twice a day (8am, 8pm)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat High Blood Pressure</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>5</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>7/12/16</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Atorvastatin">
				<span class="glyphicon glyphicon-plus"></span>Atorvastatin</button>
				<div class="collapse" id="Atorvastatin">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>Lipitor</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>153165</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>10mg tab, 1 tab</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By Mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>Every evening (8pm)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat High Cholesterol</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>2</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>6/18/16</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Aspirin">
				<span class="glyphicon glyphicon-plus"></span>Aspirin</button>
				<div class="collapse" id="Aspirin">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>Acetylsalicylic acid </td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>1191</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>81mg, 1 tab</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By Mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>Daily (8am)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat Heart Disease</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>2</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>6/25/16</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Furosemide">
				<span class="glyphicon glyphicon-plus"></span>Furosemide</button>
				<div class="collapse" id="Furosemide">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>Lasix</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>202991</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>40mg tabs, 2 capsules</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By Mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>Daily (8am)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat High Blood Pressure</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>3</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>6/28/16</td>
						</tr>
					</table>
				</div>
			</li>
			<li class="well">
				<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Sertraline">
				<span class="glyphicon glyphicon-plus"></span>Sertraline</button>
				<div class="collapse" id="Sertraline">
					<table class="table table-bordered">
						<tr>
							<td>Alternative Name</td>
							<td>Zoloft</td>
						</tr>
						<tr>
							<td>RxCUI</td>
							<td>36437</td>
						</tr>
						<tr>
							<td>Dosage</td>
							<td>50mg tab, 1 tab</td>
						</tr>
						<tr>
							<td>Form of Administration</td>
							<td>By Mouth</td>
						</tr>
						<tr>
							<td>Instructions</td>
							<td>Daily (8pm)</td>
						</tr>
						<tr>
							<td>Reason</td>
							<td>Treat Depression</td>
						</tr>
						<tr>
							<td>Refills Remaining</td>
							<td>2</td>
						</tr>
						<tr>
							<td>Next Refill Date</td>
							<td>6/10/16</td>
						</tr>
					</table>
				</div>
			</li>
		</ul>
	</div>

</div>